.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center; /* Menengahkan secara horizontal */
  height: 100vh; // Mengisi seluruh tinggi viewport
  background-color: #ff0000; // Merah
  color: #ffffff; // Putih
}

.login-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9); // Transparan putih
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Bayangan ringan
  margin: auto; // Menengahkan container

  // margin-top: 10%;
  margin-bottom: 10%;
}
.image-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent; // Transparan putih
  margin: auto; // Menengahkan container
  margin-top: 5%;
  display: flex;
  justify-content: center; // Menengahkan secara horizontal
  margin-bottom: -30px;
}

.app-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  // border: #000 solid 1px;
}

.login-input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 0; // Menghapus border-radius
  border: none; // Menghapus border
  border-bottom: 1px solid #cccccc; // Menambahkan border bawah abu-abu
  padding: 10px;
  transition: border-bottom 0.3s ease; // Transisi saat ada perubahan
}

.login-input:focus {
  border-bottom: 1px solid #bb0202; // Menambahkan border bawah merah saat fokus
  box-shadow: none;
  outline: none; // Menghilangkan outline saat fokus
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(188, 0, 45) !important;
  color: #ffffff; // Putih
  border-radius: 4px;
  padding: 10px;

  font-weight: bold;
  transition: background-color 0.3s ease; // Transisi saat hover
}

.login-button:hover {
  background-color: rgb(
    109,
    0,
    25
  ) !important; // Merah yang sedikit lebih gelap saat hover
}
.standing-image {
  width: 200px;
  display: flex;
  /* Menengahkan secara horizontal */

  z-index: 1; /* Pastikan z-index lebih tinggi dari elemen lain */
}
